@charset "UTF-8";

body {
    padding: inherit;
    margin: inherit;
    left: 0;
}

li {
    display: inline-block;
    margin: 5%;
}

#cao {
    height: 5%;
    width: 5%;
    left: -2px;
}

header{
    height: 5%;
    width: 100%;
    background-color: rgb(011, 089, 164)
}